DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=test
DB_PASS=test
DB_NAME=Test_db

SECRET_KEY=secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

SESSION_SECRET=secret_session

OAUTH_GOOGLE_CLIENT_ID=id_google
OAUTH_GOOGLE_CLIENT_SECRET=secret_client_google

OAUTH_GITHUB_CLIENT_ID=id_github
OAUTH_GITHUB_CLIENT_SECRET=secret_client_github